@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-segmented-group {
  justify-content: space-between;
}


@media (max-width:600px) {
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    
}